@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900&display=swap");

html,
body {
  /* height: 100%;
  width: 100%; */
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

html.wait {
  cursor: wait;
}

/* NAVBAR: style */
#nav-bg {
  background-color: transparent !important;
  padding: 3vh 5vh;
  width: 100%;
  margin-bottom: -104px;
  z-index: 1;
}

nav img {
  height: 2rem;
}

nav-link {
  opacity: 1;
  transition: all 1s ease-in-out;
}

@media only screen and (max-width: 575px) {
  nav.navbar img {
    width: 75px;
    height: 37.5px;
  }
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #ccc;
  display: block;
  transition: 0.3s;
  opacity: 1;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.btn-close,
.open-slide {
  background-color: transparent;
  border: 0;
  color: rgb(187, 187, 187);
  transition: 0.3s ease-out;
}

.open-slide:hover {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  animation: 5s ease-in;
}

.btn-close:hover {
  font-size: 3rem;
  cursor: pointer;
  color: wheat;
  animation: 5s ease-in;
}

@media (min-width: 991px) {
  .open-slide {
    display: none;
  }
}

/* BODY: Components */

/* ==[ LANDING: Landing page ]== */
/* Berita */
.img-box {
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.text-content-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.text-content-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: transparent;
  transition: 0.5s;
}

.content-text {
  padding: 6rem 2rem;
  text-align: center;
  color: black;
}

.text-content-container h1 {
  font-size: 1.5em;
  transform: translateY(-100%) scale(0);
  transition: 0.5s;
  font-family: "montserrat", sans-serif;
  color: white;
}

.text-content-container h2 {
  opacity: 1;
  transition: 0.5s;
}

/* IMG hover */
.kartu:hover h2 {
  opacity: 0;
  transform: scale(0);
}

.kartu:hover h1 {
  transform: translateY(0) scale(1);
}

.kartu:hover img {
  transform: scale(2) translateX(-50px);
}

.kartu:hover .text-content-container::before {
  opacity: 1;
  background: rgba(20, 20, 20, 0.5);
  transform: translateX(-0%) scale(1) skew(-45deg);
}

.gambar-kartu {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  object-position: top;
  transition: 0.5s;
}

.gambar-kartu img {
}

.gambar-kartu:hover .overlay {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

/* Swiper */
.wrapper .swiper-container {
  width: 100%;
  height: 100%;
}

.wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 55vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  color: white;
}

.swiper-container 

/* Swiper: Element child */
.caption {
  margin: 2rem;
}

/* Judul */
.caption h5 {
  font-family: "Montserrat", sans-serif;
}

/* Deskripsi */
.caption p {
  font-size: 14px;
  text-align: justify;
}

/* Button */

/* ==[ AddPost: Posting berita form ]== */
.wrapper-berita {
  transform: translateY(-13rem);
}

.wrapper-berita h1 {
  color: white;
}

.card-custom {
  background: white;
  box-shadow: 0 0 1.5em rgb(123, 224, 191, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  color: #a695ef;
}

#judul,
#description {
  margin-bottom: 15px;
}

/* IMAGE */
input[type="file"] {
  display: none;
}

#label-span {
  padding: 0 2vh;
}

.wrapper-berita label {
  cursor: pointer;
  background: rgb(152, 244, 195);
  background: linear-gradient(
    6deg,
    rgba(152, 244, 195, 1) 0%,
    rgba(84, 227, 79, 1) 31%,
    rgba(4, 198, 69, 1) 72%,
    rgba(41, 209, 145, 1) 100%
  );
  height: 35px;
  display: flex;
  color: white;
  width: 25%;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

/* TITLE */
#title,
textarea {
  border-radius: 0.3rem;
  padding: 1vh;
  border: 2px #a695ef solid;
  width: 100%;
}

/* Title & Desc */
textarea {
  resize: none;
  height: 200px;
}

#description textarea {
  height: 70vh;
}

#deskripsi {
  border: 2px solid #a695ef;
  border-radius: 0.4rem;
  padding: 10px 15px;
  height: 70vh;
}

/* Input file */
#upload-file {
  cursor: pointer;
}

/* Button SUBMIT */
.wrapper-berita button[type="submit"] {
  width: 7rem;
}

/* POST: Tampilan posts per post */
.wrapper-post hr {
  margin-top: 0;
  width: 100%;
}

.beritalainsmall {
  display: none;
}

@media only screen and (max-width: 1125px) {
  h1.tengah {
    font-size: 50px;
  }
}

@media only screen and (max-width: 991px) {
  /* NAVBAR: 991px */
  .navbar-nav {
    display: none;
  }

  /* BODY */
  .kotak-konten {
    background-color: white;
    box-shadow: 0 0 1.5em rgb(123, 224, 191, 0.5);
    padding: 1rem;
    border-radius: 2%;
    height: auto;
  }

  /* footer img.logo {
    margin: 1rem auto;
    width: 285px;
    height: 150px;
  } */

  #about-us {
    margin-top: 1rem;
  }

  .pembates {
    display: none;
  }

  /* POST: posts per post */
  .wrapper-post p.deskripsi p {
    font-size: 1rem;
  }

  .beritalain {
    border-right: 1px rgba(17, 17, 17, 0.281) solid;
  }

  .beritalain i,
  .beritalain h4,
  .beritalainsmall i,
  .beritalainsmall h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  h1.tengah {
    font-size: 46px;
  }

  /* footer img.logo {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
  } */
}

@media only screen and (max-width: 576px) {
  .sosmed #instagram,
  .sosmed #website,
  .sosmed #linkedin {
    width: 0;
    margin: 0 auto;
  }

  .text-content-container h1 {
    font-size: 1.5em;
    transform: translateY(-100%) scale(0);
    transition: 0.5s;
    font-family: "montserrat", sans-serif;
    color: white;
  }

  .kartu:hover h1 {
    transform: translateY(-22vh) scale(0.5);
  }

  .beritalain {
    display: none;
  }

  .beritalainsmall {
    display: block;
  }
}

@media only screen and (max-width: 501px) {
  h1.tengah {
    font-size: 30px;
  }

  .wrapper p {
    font-size: 15px;
  }
}
